@use "../../styles/variables.scss" as *;

.recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;

    & > li {
      margin: 0.5rem 0;

      .section {
        display: grid;
        grid-template-columns: fit-content(8em) 1fr;
        align-items: baseline;

        @media all and ($mobile) {
          & > .tags {
            display: none;
          }
        }
      }

      .section > .desc > h3, .section > .desc > h4 {
        margin: 0;
      }

      .section > .desc > h3 > a, .section > .desc > h4 > a {
        background-color: transparent;
      }

      .section > .meta {
        margin: 0 1em 0 0;
        opacity: 0.6;
      }
    }
  }
}
